/* post-it */
.fold, .close , .edit {
    cursor: pointer;
    float:right;
}

.folded dd, .folded form, folded div{
    display: none !important;
}

#dashboard .portletPostIt {
    border-bottom: 1px solid #DCC126;
}
#dashboard .portletPostIt .portletHeader {
    background-image:url(++resource++ftw.dashboard.portlets.postit.resources/bg_postit.jpg);
    background-position:left top;
    background-repeat:repeat-x;
    border-bottom: 1px solid #DCC126;
	background-color: #FFF7C2;
}
#dashboard .postit .portletItem {
    border-left: 1px solid #DCC126;
    border-right: 1px solid #DCC126;

}
#dashboard .postit .portletItem.even {
	background-color:#F7F7F7;
}
#dashboard .postit .portletItem.odd {
	background-color:#EBEBEB;
}
#dashboard .postit .portletItem span {
    font-family: courier, serif;
    line-height: 3em;
    padding: 0 1em;
}

#dashboard .postIt_addNote{
	border-top:1px solid #FFEB8;
	margin-left:0px;
}


#dashboard .postit form,
#dashboard .portletPostIt form {
	clear:both;
	padding:0em;
	margin:0;
}
#dashboard .postit form input.text {
    width: 9em;
}
#dashboard .postit form input.submit {
    
}
